main{
    display: flex;
}

.carousel_container{
    border: 1px solid black;
    display: flex;
    width: 35%;
    height: calc(100vh - 57px);
}

.carousel_container img{
    object-fit: cover;
    width: 100%;
}

.quiz_container{
    border: 1px solid black;
    display: flex;
    width: 65%;
    height: calc(100vh - 57px);
}

.start_quiz {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #151C33;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border: 10px solid #2753e2;
}